@import "tailwindcss";

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #050103;
  overflow: hidden;
}
html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #050103;
  overflow: hidden;
}

canvas {
  display: block;
}
